.footer {
  display: flex;
  flex-direction: column;
  background: #000;
  color: white;
  margin: auto;
  padding: 2rem 0;
}

.top {
  display: flex;
  justify-content: space-around;
  flex: wrap;
  width: 90%;
  margin: auto;
}

.top a {
  color: white;
  font-size: 2rem;
  margin-left: 1rem;
}

.top i:hover {
  color: rgb(45, 111, 254);
}

.bottom {
  text-align: start;
  display: flex;
  justify-content: space-between;
  width: 80%;

  margin: auto;
}

.bottom div {
  display: flex;
  flex-direction: column;
}

.bottom h4 {
  font-size: 1.3rem;
  padding: 1rem 0 0.8rem 0;
}

.bottom a {
  text-decoration: none;
  color: #fafafa;
  padding-bottom: 0.4rem;
  font-size: 1.1rem;
}

/* ---------------- media query ------------------ */

@media screen and (max-width: 850px) {
  .top {
    display: flex;
    justify-content: space-between;
  }

  .footer {
    margin: auto;
  }

  .bottom {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 0 auto;
  }
}

@media screen and (max-width: 550px) {
  .bottom {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 5px;
    margin: auto;
  }

  .bottom div {
    display: flex;
    flex-direction: column;
  }

  .bottom h4 {
    font-size: 18px;
    padding: 10px 0 8px 0;
  }

  .bottom a {
    text-decoration: none;
    color: #fafafa;
    padding-bottom: 6px;
    font-size: 15px;
  }
}
