.popular {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 2rem auto;
}

/*  ------------------ pc-left ---------------- */

.pc-left {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 20px;
  margin: 2rem auto;
}

.pc-right {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  gap: 20px;
  align-items: top;
  margin: 2rem auto;
}

.pc-text {
  display: flex;
  flex-direction: column;
  justify-content: top;
  max-width: 450px;
}

.pc-text h3 {
  margin: 0px 10px 10px 10px;
  color: rgb(45, 111, 254);
}

.pc-text p {
  text-align: start;
  line-height: 1.5;
}

.pc-text p::first-letter {
  margin-left: 20px;
}

.pc-image {
  width: 500px;
  height: 300px;
  display: flex;
  justify-content: space-between;
  z-index: -99;
}

.pc-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 6px;
  box-shadow: -1px 1px 62px -18px rgba(0, 0, 0, 0.19);
}

/* ------------------- media query ------------------- */

@media screen and (max-width: 1050px) {
  .pc-left {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .pc-right {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

@media screen and (max-width: 550px) {
  .pc-text {
    max-width: 380px;
  }

  .pc-image {
    width: 390px;
    height: 200px;
  }
}
@media screen and (max-width: 450px) {
  .pc-text {
    max-width: 355px;
  }

  .pc-image {
    width: 360px;
    height: 200px;
  }

  .pc-text {
    padding: 0 1rem;
  }

  .pc-image {
    padding: 0 0.7rem;
  }
}
